ELEVENLABS_API_KEY=ELEVENLABS_API_KEY
ELEVENLABS_VOICE_ID=EXAVITQu4vr4xnSDxMaL
TEST_USERNAME=MY_USERNAME
TEST_PASSWORD=MY_PASSWORD
TEST_VOICE_NAME="geralt"
DEFAULT_SECRET_KEY=8a7914c8-3460-4745-80ad-f8b728b9da8c
TTS_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmaWNhc3QtdXplciIsImV4cCI6MTcyMzMyMzM0NH0.4CxTLeHiBufTHuHHaf7gsu2kKDfd-lhrp6aGNHSSMzk
TESTING=true
MAX_WORKERS=1